{% set navCategories = #navCategories# | split(',') %}

  </main>
  <div id="ex2_footer">
    <div id="ex2_footer_PC">

      <!-- 大きな説明 -->
      <div id="ex2_f_1">

        <!-- 1番目　買物情報 -->
        <div id="ex2_f_info_1" class="ex2_f_info">

          <!-- 支払 -->
          <div id="ex2_f_pay" class="ex2_f_info_t">
            <a href="http://www.heiando1919.com/fs/heiando1919/c/payment" target="_top">
              <p class="ex2_f_info_t_l">CREDIT CARD ACCEPTABLE</p>
              <img src="{{ asset("images/icon/visa02.png")}}" title="Visa" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
              <img src="{{ asset("images/icon/master02.png")}}" title="MasterCard" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
            </a>
          </div>

          <!-- 発送 -->
          <div id="ex2_f_ship" class="ex2_f_info_t">
            <a href="http://www.heiando1919.com/fs/heiando1919/PostageSettleList.html" target="_top">
              <p class="ex2_f_info_t_l">SHIPPING within 2 BUSINESS DAYS</p>
              <img src="{{ asset("images/icon/shipping.png")}}" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
            </a>
            <p class="ex2_f_info_t_s">
              Mon > Fri / 10am > 5pm / Japan Time<br>
              to 100+ countries & states<br>
              with parcel tracking number
            </p>
          </div>

        </div>


        <!-- 2番目　買物情報 -->
        <div id="ex2_f_info_2" class="ex2_f_info">

          <!-- メルマガ -->
          <div id="ex2_f_newsl" class="ex2_f_info_t">
            <a href="https://e01.future-shop.jp/fs/heiando1919/MailMagazineEntry.html" target="_top">
              <p class="ex2_f_info_t_l">NEWSLETTER</p>
              <img src="{{ asset("images/icon/email.png")}}" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
            </a>
            <p class="ex2_f_info_t_s">
              New items, news, offers, Japanese fun facts...<br>
              just for you!
            </p>
          </div>

          <!-- ギフト -->
          <div id="ex2_f_gift" class="ex2_f_info_t">
            <a href="http://www.heiando1919.com/fs/heiando1919/c/gift_wrapping" target="_top">
              <p class="ex2_f_info_t_l">GIFT WRAPPING on all items</p>
              <img src="{{ asset("images/icon/gift.png")}}" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
            </a>
          </div>

        </div>


        <!-- 3番目　買物情報 -->
        <div id="ex2_f_info_3" class="ex2_f_info">

          <!-- セキュリティー -->
          <div id="ex2_f_secur" class="ex2_f_info_t">
            <a href="https://e01.future-shop.jp/fs/heiando1919/ShoppingCart.html" target="_top">
              <p class="ex2_f_info_t_l">24H SECURE SHOPPING</p>
              <img src="{{ asset("images/icon/cart.png")}}" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
            </a>
            <ul>
              <li>Certified secure socket layer</li>
              <li>Buyer protection</li>
              <li>Data protection</li>
              <li>Secure payment with SSL encryption</li>
            </ul>
          </div>

        </div>

      </div>


      <!-- お問い合わせ -->
      <div id="ex2_f_2">
        <div class="ex2_f_help_t">
          <p>Need help? Any questions?</p>
        </div>
        <div class="ex2_f_help_cta">
          <a href="http://www.heiando1919.com/fs/heiando1919/c/faq02" target="_top">
            <p>Go to our online help desk.</p>
          </a>
        </div>
      </div>


      <!-- 月間コンテンツ -->
      <div id="ex2_f_2a">
        <div class="ex2_f_mth_t">
          <p>Content of the Month</p>
        </div>
        <a href="../feature/sushi.html" target="_top">
          <p class="ex2_f_mth_t_l">How to <span>SUSHI</span> PARTY</p>
          <p class="ex2_f_mth_t_s">in <span>30</span> minutes</p>
          <img src="{{ asset("images/outline/ex2_index/ex2_footer_mth01.jpg") }}" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
        </a>
      </div>


      <!-- 小さなリスト -->
      <div id="ex2_f_3">
        <ul class="ex2_f_li_l">

          <!-- 1番目　ロゴ -->
          <li class="ex2_f_logo">
            <a href="../../index.html" target="_top">
              <img src="{{ asset("images/outline/logo_144_135.png")}}" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
            </a>
            <p>copyright &copy; 2018<br>
              <a href="../../index.html" target="_top">YAMADA HEIANDO</a><br>
              All rights reserved.
            </p>
            <p class="ex2_f_logo_comment">
              <span class="underline">IMPERIAL LACQUERWARE</span><br>
              <span class="red">&#9679;</span> Made in Japan<br>
              <span class="red">&#9679;</span> Trusted since 1919
            </p>
            <!-- ●長期休暇● -->
            <!--    
            <div id="ex2_f_holiday">
              <p>
              We are taking winter holidays from Dec 28 to Jan 5.</br>
              Your order will be processed from 6 onward if you place it during this period.
              </p>
            </div>-->

            <!-- ●季節イベント● -->
            <!--
            <div id="ex2_f_season">
              <a href="http://www.heiando1919.com/fs/heiando1919/c/christmas" target="_top">
                <img class="ex2_f_season_i" src="{{ asset("images/icon/christmas.png")}}" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
                <p>
                  Shopping for CHRISTMAS ?</br>
                  Here are some ideas for unique gifts &#187;
                </p>
              </a>
            </div>
            -->
          </li>


          <!-- 2番目　商品カテゴリー　漆器 -->
          <li>

            <!-- 商品カテゴリー -->
            <ul class="ex2_f_li_s ex2_f_cat">
              <li>SHOP BY CATEGORY</li>
              <li><a href="../category/box.html" target="_top">Boxes</a></li>
              <li><a href="../category/stationery.html" target="_top">Stationery</a></li>
              <li><a href="../category/stationery.html" target="_top">Fountain Pens</a></li>
              <li><a href="../category/fashion.html" target="_top">Jewellery</a></li>
              <li><a href="../category/fashion.html" target="_top">Fashion Accessories</a></li>
              <li><a href="../category/decor.html" target="_top">Home Décors & Accents</a></li>
              <li><a href="../category/decor.html" target="_top">Wall Arts</a></li>
              <li><a href="../category/decor.html" target="_top">Folding Screens</a></li>
              <li><a href="../category/decor.html" target="_top">Decorative Plates</a></li>
              <li><a href="../category/decor.html" target="_top">Picture Frames</a></li>
              <li><a href="../category/bowl.html" target="_top">Bowls</a></li>
              <li><a href="../category/bowl.html" target="_top">Rice Bowls</a></li>
              <li><a href="../category/bowl.html" target="_top">Soup Bowls</a></li>
              <li><a href="../category/bowl.html" target="_top">Salad Bowls</a></li>
              <li><a href="../category/plate.html" target="_top">Plates</a></li>
              <li><a href="../category/foodbox.html" target="_top">Food Boxes</a></li>
              <li><a href="../category/serveware.html" target="_top">Placemats</a></li>
              <li><a href="../category/serveware.html" target="_top">Serving Trays</a></li>
              <li><a href="../category/serveware.html" target="_top">Tabletop Accessories</a></li>
              <li><a href="../category/cutlery.html" target="_top">Chopsticks</a></li>
              <li><a href="../category/cutlery.html" target="_top">Cutlery</a></li>
              <li><a href="../category/drinkware.html" target="_top">"SAKE" Drinkware</a></li>
              <li><a href="../category/drinkware.html" target="_top">Cups</a></li>
              <li><a href="../category/drinkware.html" target="_top">Tea Cup Saucers</a></li>
              <li><a href="../feature/sushi.html" target="_top">Sushi Set</a></li>
            </ul>

            <!-- 商品カテゴリー -->
            <ul class="ex2_f_li_s ex2_f_lacquer">
              <li><a href="http://www.heiando1919.com/fs/heiando1919/c/lacquerware" target="_top">ABOUT LACQUERWARE</a></li>
              <li><a href="http://www.heiando1919.com/fs/heiando1919/c/lacquerware" target="_top">What is Lacquerware?</a></li>
              <!--
              <li>Notes on Using</li>
              <li>Maintenance</li>
              -->
              <li><a href="http://www.heiando1919.com/fs/heiando1919/c/mca" target="_top">Master Craftsmen's Atelier</a></li>
              <li><a href="../feature/sushi.html" target="_top">How to Choose "Right" Lacquerware<br>on Table</a></li>
            </ul>

          </li>


          <!-- 3番目　アカウント　ガイドライン -->
          <li>

            <!-- アカウント -->
            <ul class="ex2_f_li_s ex2_f_ac">
              <li><a onclick="return canSubmit();" href="https://e01.future-shop.jp/fs/heiando1919/MyPageTop.html" target="_top">SIGN IN TO ACCOUNT</a></li>
              <li><a onclick="return canSubmit();" href="https://e01.future-shop.jp/fs/heiando1919/MyPageTop.html" target="_top">My Account</a></li>
              <li><a href="https://e01.future-shop.jp/fs/heiando1919/Login.html" target="_top">Create Account</a></li>
              <li><a href="https://e01.future-shop.jp/fs/heiando1919/ShoppingCart.html" target="_top">Shopping Cart</a></li>
              <li><a href="https://e01.future-shop.jp/fs/heiando1919/WishList.html" target="_top">Wish List</a></li>
            </ul>

            <!-- ガイドライン -->
            <ul class="ex2_f_li_s ex2_f_guide">
              <li>GUIDELINES</li>
              <li><a href="http://www.heiando1919.com/fs/heiando1919/c/faq02" target="_top">FAQ</a></li>
              <li><a href="http://www.heiando1919.com/fs/heiando1919/c/order" target="_top">How to Place Orders</a></li>
              <li><a href="http://www.heiando1919.com/fs/heiando1919/PostageSettleList.html" target="_top">Shipping</a></li>
              <li><a href="http://www.heiando1919.com/fs/heiando1919/c/payment" target="_top">Payment</a></li>
              <li><a href="http://www.heiando1919.com/fs/heiando1919/c/returns" target="_top">Returns</a></li>
              <li><a href="http://www.heiando1919.com/fs/heiando1919/c/privacy" target="_top">Privacy Policy</a></li>
              <li><a href="http://www.heiando1919.com/fs/heiando1919/c/terms" target="_top">Terms & Conditions</a></li>
              <li><a href="http://www.heiando1919.com/fs/heiando1919/c/faq02" target="_top">For the 1st Time User</a></li>
            </ul>

            <!-- ギフト -->
            <ul class="ex2_f_li_s ex2_f_gift">
              <li>FOR GIFTS</li>
              <li><a href="http://www.heiando1919.com/fs/heiando1919/c/gift_price" target="_top">Recommended Items</a></li>
              <li><a href="http://www.heiando1919.com/fs/heiando1919/c/gift_wrapping" target="_top">Original Gift Wrapping</a></li>
              <li><a href="../feature/sushi.html" target="_top">For Sushi Lovers</a></li>
            </ul>

          </li>


          <!-- 4番目　ブランド　連絡先　パートナーシップ　トップ戻る -->
          <li>

            <!-- ブランド -->
            <ul class="ex2_f_li_s ex2_f_brand">
              <li>ABOUT YAMADA HEIANDO</li>
              <li><a href="http://www.heiando1919.com/fs/heiando1919/c/about_us" target="_top">Our History</a></li>
              <li><a href="http://www.heiando1919.com/fs/heiando1919/c/shop" target="_top">All Items List</a></li>
              <li><a href="https://e01.future-shop.jp/fs/heiando1919/MailMagazineEntry.html" target="_top">Newsletter</a></li>
              <li class="ex2_f_brand_sns">
                <a href="https://www.facebook.com/heiando/" target="_blank">
                  <img class="ex2_f_brand_sns_s" src="{{ asset("images/icon/facebook.png")}}" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
                  <img class="ex2_f_brand_sns_l" src="{{ asset("images/icon/facebook01.png")}}" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
                </a>
              </li>
              <li class="ex2_f_brand_sns">
                <a href="https://www.instagram.com/yamadaheiando/" target="_blank">
                  <img class="ex2_f_brand_sns_s" src="{{ asset("images/icon/instagram.png")}}" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
                  <img class="ex2_f_brand_sns_l" src="{{ asset("images/icon/instagram01.png")}}" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
                </a>
              </li>
            </ul>


            <!-- 連絡先 -->
            <ul class="ex2_f_li_s ex2_f_contact">
              <li>CONTACT US</li>
              <li>
                <a href="mailto:global@heiando.com">
                  <img src="{{ asset("images/icon/email.png")}}" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
                  <p>global@heiando.com</p>
                </a>
              </li>
              <li>
                <img src="{{ asset("images/icon/home.png")}}" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
                <p>FLAGSHIP STORE / HEAD OFFICE<br>
                  G-202, Hillside Terrace<br>
                  18-12 Sarugaku-cho, Shibuya-ku<br>
                  Tokyo 150-0033 JAPAN
                </p>
              </li>
            </ul>


            <!-- パートナーシップ -->
            <ul class="ex2_f_li_s ex2_f_partner">
              <li>PARTNERSHIP</li>
              <li><a href="http://www.heiando1919.com/fs/heiando1919/c/about_us#ex2_media" target="_top">Press Reviews</a></li>
              <li><a href="http://www.heiando1919.com/fs/heiando1919/c/about_us#ex2_collab" target="_top">Collaborated Brands</a></li>
              <li><a href="http://www.heiando1919.com/fs/heiando1919/c/gift_corp" target="_top">Corporate Orders</a></li>
              <li><a href="http://www.heiando1919.com/fs/heiando1919/c/about_store" target="_top">Store Locations</a></li>
            </ul>


            <!-- トップ戻る -->
            <ul class="ex2_f_li_s ex2_f_re">
              <li><a href="../../index.html" target="_top">BACK TO TOP PAGE</a></li>
            </ul>

          </li>

        </ul>
      </div>


    </div>
  </div>

</body>
</html>