{% if title != "product" %}
{% TemplateInclude "html head" %} 
{% endif %}

{% if title == "allitems" %}
<body class="FS2_body_Goods_shop">
{% else %}
<body>
{% endif %}
  
    <div id="ex2_header">
    <div id="ex2_header_PC">

      <!-- 通貨 -->
      <!--
      <div id="ex2_h_1">
        <div id="currency">
        </div>
      </div>
      -->


      <!-- ブランド -->
      <div id="ex2_h_2">
        <div class="ex2_h_logo_comment">
          <p>
            <span class="underline">IMPERIAL LACQUERWARE</span><br>
            <span class="red">●</span> Made in Japan<br>
            <span class="red">●</span> Trusted since 1919
          </p>
        </div>
        <div class="ex2_h_logo">
          <a href="/" target="_top">
            <img src="{{ asset("images/outline/logo_850_110.png") }}" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
          </a>
        </div>
        <div class="ex2_h_brand">
          <p class="garamond">[OFFICIAL ONLINE] HAND-CRAFTED LUXURY BOX FOR JAPANESE EMPEROR</p>
          <p>
            <font color="#ffffff" size="3">
              [NOTICE]<br>
              Currently, we accept domistic(Japan) shipment only.<br>
              International shipping is not available.<br>
              Thank you for your understanding in advance.
            </font>
          </p>
        </div>
        <!-- ●長期休暇● -->
        <!-- 
        <div id="ex2_h_holiday">
        <p>
            [Caution] Currently, this site only accepts deliveries within Japan.<br>Delivery outside Japan is not possible.Please note.
        </p>
        </div> 
        -->
      </div>


      <!-- 大きなメニュー -->
      <div id="ex2_h_3">
        <ul class="ex2_h_menu_t">
          <li>
            <a href="/static" target="_top">ABOUT US</a>
          </li>
          <li class="ex2_h_menu_t25">
            <a href="#" target="_top">CORPORATE ORDERS</a>
          </li>
          <li class="ex2_h_menu_ts">
            SHOP ONLINE
          </li>
          <li>
            <a href="/allitems" target="_top">ALL ITEMS</a>
          </li>
        </ul>
        <ul class="ex2_h_menu_i">
          <!-- ●季節イベント● -->
          <!--
          <li>
            <a href="http://www.heiando1919.com/fs/heiando1919/c/christmas" target="_top">
              <img src="https://secure2.future-shop.jp/~heiando1919/images/icon/christmas.png") }}" title="Unique Christmas Gifts" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
            </a>
          </li>
          -->
          <li>
            <a href="#" target="_top">
              <p>SUSHI</p>
              <img src="{{ asset("images/icon/sushi_r.png") }}" title="How to Make Sushi" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
            </a>
          </li>
          <li>
            <a href="http://www.heiando1919.com/fs/heiando1919/PostageSettleList.html" target="_top">
              <img src="{{ asset("images/icon/shipping.png") }}" title="Delivery Country" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
            </a>
          </li>
          <li>
            <a href="http://www.heiando1919.com/fs/heiando1919/c/faq02" target="_top">
              <img src="{{ asset("images/icon/inquiry.png") }}" title="FAQ" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
            </a>
          </li>
          <li>
            <a onclick="return canSubmit();" href="/auth/login" target="_top">
              <img src="{{ asset("images/icon/account.png") }}" title="My Account" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
            </a>
          </li>
          <li>
            <a href="/ec/cart/list" target="_top">
              <img src="{{ asset("images/icon/cart.png") }}" title="My Cart" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
            </a>
          </li>
        </ul>
      </div>
      
      <!-- 小さなカテゴリー　箱 -->
      {% if title == "top" %}
      <div id="ex2_h_4" style="display: none;">
      {% else %}
      <div id="ex2_h_4">
      {% endif %}
        <div class="ex2_h_cat_f">
          <a href="/ec/product/category/15" target="_top">
            <p>FIND YOUR BOX</p>
          </a>
        </div>
        <ul class="ex2_h_cat">
          <li>
            <a href="/door" target="_top">
              <img src="{{ asset("images/outline/ex2_index/ex2_index_cat_pick_marukashiki-edaume01.png") }}" alt="Ume Dome Box | YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
              UME DOME BOX
            </a>
          </li>
          <li>
            <a href="#" target="_top">
              <img src="{{ asset("images/outline/ex2_index/ex2_index_cat_pick_jbox201.png") }}" alt="Jewelry Box | YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
              JEWELLERY BOX
            </a>
          </li>
          <li>
            <a href="#" target="_top">
              <img src="{{ asset("images/outline/ex2_index/ex2_index_cat_pick_acce01.png") }}" alt="Accessory Box | YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
              ACCESSORY BOX
            </a>
          </li>
          <li>
            <a href="#" target="_top">
              <img src="{{ asset("images/outline/ex2_index/ex2_index_cat_pick_mbox-cho01.png") }}" alt="Incense Case | YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
              INCENSE CASE
            </a>
          </li>
        </ul>
        <div class="ex2_h_cat_l">
          <a href="/ec/product/category/15" target="_top">
            <p>VIEW ALL BOXES</p>
          </a>
        </div>
      </div>

      <!-- 小さなカテゴリー　万年筆 -->
      {% if title == "top" %}
      <div id="ex2_h_5" style="display: none;">
      {% else %}
      <div id="ex2_h_5">
      {% endif %}
        <div class="ex2_h_5_l">
          <div class="ex2_h_cat_f">
            <p>BACK IN STOCK</p>
          </div>
        <ul class="ex2_h_cat">
          <li>
            <a href="#" target="_top">
              <img src="{{ asset("images/outline/ex2_index/ex2_index_cat_pick_gaku-kh01.png") }}" alt="UME Wall Art | YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
              <img src="{{ asset("images/outline/ex2_index/ex2_index_cat_pick_paneru-ume01.png") }}" alt="UME Wall Art | YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
              WALL ART
            </a>
          </li>
          <li>
            18th Century Revival of Master Artisan
          </li>
          <li>
            <a href="#" target="_top">
              <img src="{{ asset("images/outline/ex2_index/ex2_index_cat_pick_fountain-pen01a.png") }}" alt="MAKI-E Fountain Pen | YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
              <img src="{{ asset("images/outline/ex2_index/ex2_index_cat_pick_fountain-pen02a.png") }}" alt="MAKI-E Fountain Pen | YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
              <img src="{{ asset("images/outline/ex2_index/ex2_index_cat_pick_fountain-pen02a.png") }}" alt="MAKI-E Fountain Pen | YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
              FOUNTAIN PEN
            </a>
          </li>
          <li>
            Sailor M with Gold &amp; Silver Sprinkles
          </li>
        </ul>
        </div>
      </div>

    </div>
  </div>