<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="is-archiveFigureCovered" lang="{{ language(3) }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ #siteDescription# }}">
<meta name="keywords" content="japan,lacquerware,gift,box">
 
<!-- page information -->
 <title>{{ #siteName# }}</title>
{#{% if title == "top" %}
  <title>{{ #siteName# }}</title>
{% else %}
  <title>{{ title | striptags }}</title> 
{% endif %} #}

<link rel="shortcut icon" href="{{ asset("images/icon/favicon.ico") }}" type="image/vnd.microsoft.icon">
<link rel="icon" href="{{ asset("images/icon/favicon.ico") }}" type="image/vnd.microsoft.icon">
<link rel="canonical" href="{{ app.request.uri }}">

<!-- font --> 
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=La+Belle+Aurore" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Qwigley" rel="stylesheet">

<!-- OGP -->
<meta property="og:type" content="article">
<meta property="og:title" content="YAMADA HEIANDO LACQUERWARE c1919 : Hand-Crafted Imperial Luxury for Japanese Emperor">
<meta property="og:url" content="http://www.heiando1919.com">
<meta property="og:description" content="{{ #siteDescription# }}">
<meta property="og:image" content="{{ asset("images/ogp/ogp_marukashiki-edaume.png")}}">
<meta property="og:site_name" content="YAMADA HEIANDO LACQUERWARE c1919 : Hand-Crafted Imperial Luxury for Japanese Emperor">
<meta property="fb:app_id" content="1994569937534802">

<!-- CSS -->

<link type="text/css" href="{{ asset("r_system_preset.css")}}" rel="stylesheet" media="all">
<link type="text/css" href="{{ asset("ex2_index.css")}}" rel="stylesheet" media="all">
<link type="text/css" href="{{ asset("css_item/shadowbox.css")}}" rel="stylesheet" media="all">
<link type="text/css" href="{{ asset("css_outline/ex2_iframe_FTP.css")}}" rel="stylesheet" media="all">
<link type="text/css" href="{{ asset("css_outline/ex2_header.css")}}" rel="stylesheet" media="all">
<link type="text/css" href="{{ asset("css_outline/ex2_footer.css")}}" rel="stylesheet" media="all">
<link type="text/css" href="{{ asset("css_outline/ex2_leftnavi.css")}}" rel="stylesheet" media="all">
<link type="text/css" href="{{ asset("css_outline/system_DesignSettings.css")}}" rel="stylesheet" media="all">
<link type="text/css" href="{{ asset("css_outline/system_LayoutSettings.css")}}" rel="stylesheet" media="all">
<link type="text/css" href="{{ asset("css_outline/system_SizeColorSettings.css")}}" rel="stylesheet" media="all">
<link type="text/css" href="{{ asset("css_outline/ex2_tablet.css")}}" rel="stylesheet" media="screen and (min-device-width:600px) and (max-device-width:959px)">
<link type="text/css" href="{{ asset("css_outline/ex2_smartphone.css")}}" rel="stylesheet" media="screen and (max-device-width:599px)"> 
<link type="text/css" href="{{ asset("css_outline/original.css")}}" rel="stylesheet" media="all">
 
<link rel="stylesheet" href="{{ asset("assets/css/lc-components.css") }}">  
  

<!-- JavaScript -->
<script src="{{ asset("js/jquery.min.js") }}"></script>
<script src="{{ asset("js_item/jquery.bxslider/jquery.bxslider.min.js") }}"></script>
<link href="{{ asset("js_item/jquery.bxslider/jquery.bxslider.css")}}" rel="stylesheet">
  
  <!-- ■　Google Analytics　サイトアクティビティトラッキング（非SSLページ） -->
  <script type="text/javascript">

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-39115887-3','auto',{'allowLinker':true});
    ga('require','displayfeatures');
    ga('require', 'linker');
    // Define which domains to autoLink.
    ga('linker:autoLink', ['heiando1919.com','e01.future-shop.jp']);
    ga('send', 'pageview');

  </script>
  <!-- □　Google Analytics　サイトアクティビティトラッキング（非SSLページ） -->
</head>