{# Reference: https://launchcart.jp/reference/2-%e3%82%a4%e3%83%b3%e3%83%87%e3%83%83%e3%82%af%e3%82%b9%e3%83%86%e3%83%b3%e3%83%97%e3%83%ac%e3%83%bc%e3%83%88/ #}

{% TemplateInclude "html head" %} 

{# Variables Settings #}
{%- set category = get_entity_manager().find('EcCoreBundle:ProductCategory', #category_id# ) -%}
{%- set qb = get_entity_manager().getRepository('EcCoreBundle:Product').createQueryBuilder('p').leftJoin('p.categories', 'c') -%}
{%- set products = qb.where('c.id = :id').andWhere('p.deleted_at is NULL').andWhere('p.available_before IS NULL OR p.available_before >= NOW()').andWhere('p.released_at <= NOW()').andWhere('p.release_status != 1').orderBy('p.released_at', 'DESC').setParameter('id', #category_id# ).getQuery().getResult() -%}
{%- set firstProduct = products|first -%}

{# insert to html head title #}
{%- set category_name = category.getTransAttribute(lang_id) ? category.getTransAttribute(lang_id) : category.name -%}
{%- set title = category_name -%}

{# set current currency #}
{%- set currentCurrency = app.session.has('currency_unit') ? app.session.get('currency_unit') : is_authorized() ? app.security.token.user.settingCurrency : get_entity_manager().find("EcCoreBundle:Currency", system_config("base_currency")) -%}
{%- set selectedCurrencyLabel = '' -%}
{%- for key , item in supported_currencies -%}
  {%- set currency = get_entity_manager().find("EcCoreBundle:Currency", item) -%}
  {%- set name = currency.code -%}
  {%- if name == currentCurrency -%}
    {%- set selectedCurrencyLabel = name -%}
  {%- endif -%}
{%- endfor -%}
{%- if not selectedCurrencyLabel -%}
  {%- set currency = get_entity_manager().find("EcCoreBundle:Currency", supported_currencies|first) -%}
  {%- set selectedCurrencyLabel = currency.code -%}
{%- endif -%}

{# get base currency unit #}
{%- set baseCurrency = get_entity_manager().find('EcCoreBundle:Currency', system_config('base_currency')) -%}
{%- set baseUnitFront = baseCurrency.getBeforeUnit() -%}
{%- set baseUnitBack = baseCurrency.getAfterUnit() -%}

{# end Variables Setting #}
  
<div class="layout_body">
  <div class="layout_header">
  {% TemplateInclude "header" %}
  </div>

{# Contents #}
  <table border="0" cellspacing="0" cellpadding="0" class="layout_table">
    <tbody>
      <tr>
        <td class="layout_menu">
          {% TemplateInclude "leftnavi" %}
        </td>
        <td class="layout_content">
          <div class="system_content">
              <p class="pan FS2_breadcrumbs">
                <a href="http://www.heiando1919.com">Top</a> &gt; 
                <a href="/shop">shop</a> &gt; 
                <a href="/interiors">Interior</a> &gt; UME Wall Art
              </p>
              <div class="FS2_GroupLayout">                               
                {# page information #}
                <p class="pager"></p>
            
                <div class="groupLayout">
                  <div class="alignItem_01">
                    {%- for product in products -%}
                      {%- set productName = firstProduct.attribute('product name') ? product.attribute('product name') : product.name -%}

                      {# flag of subscription #}
                      {%- set isRegular = product.productType == 'regular' ? true : false -%}

                      {# organize product sku information #}
                      {%- set isInStock = false -%}
                      {%- set productskus = product.productSku -%}
                      {%- set defaultSkuNum = 0 -%}
                      {%- set isExistSku1 = productskus.first.getSkuDetail1 ? true : false -%}
                      {%- set isExistSku2 = productskus.first.getSkuDetail2 ? true : false -%}
                      {%- set sku1Details = [] -%}
                      {%- set sku2Details = [] -%}
                      {%- for productsku in productskus -%}
                        {%- if not (productsku.stockUnlimited or (productsku.stock > 0)) -%}
                          {%- if loop.index0 == defaultSkuNum -%}
                            {%- set defaultSkuNum = loop.index0 -%}
                          {%- endif -%}
                        {%- else -%}
                          {%- set isInStock = true -%}
                        {%- endif -%}
                        {%- if isExistSku1 or isExistSku2 -%}
                          {%- if not (productsku.getSkuDetail1 in sku1Details) -%}
                            {%- set sku1Details = sku1Details|merge([productsku.getSkuDetail1]) -%}
                          {%- endif -%}
                          {%- if not (productsku.getSkuDetail2 in sku2Details) -%}
                            {%- set sku2Details = sku2Details|merge([productsku.getSkuDetail2]) -%}
                          {%- endif -%}
                        {%- endif -%}
                      {%- endfor -%}
                      <a name="{{ product.id }}"></a>
                      <div class="gl_Item" id="FS2_itemlayout_I">
                        <div class="user_inner_content FS2_upper_comment">
                          {{ product.attribute('detail', language) | raw }}
                        </div>

                        <!--  商品詳細  -->
                        <table border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td class="FS2_itemlayout_td_Left">
                                <div class="FS2_thumbnail_container">
                                  
                                  {%- for index in 1..8 -%}
                                    {%- if product.attribute('image' ~ index) -%}
                                      <a href="{{ ('/uploads/media/'~get_entity_manager().find('MediaCoreBundle:Media', product.attribute('image' ~ index)).path) }}" target="_blank">
                                        <img src="{{ ('/uploads/media/'~get_entity_manager().find('MediaCoreBundle:Media', product.attribute('image' ~ index)).path) }}" alt="{{ productName|striptags }}" class="thumbnail">
                                      </a>
                                    {%- elseif index == 1 -%}
                                        <img src="{{ asset('assets/img/no-image.png') }}" alt="no image">
                                    {%- endif -%}
                                  {%- endfor -%}
                                  
                                  <br>
                                </div>
                              </td>
                              <td class="FS2_itemlayout_td_Right">
                                <h1 class="itemTitle">
                                  {{ productName }}
                                </h1>
                                <p class="itemNumber">Item number　{{ product.attribute('item', language) }}</p>
                                <div class="FS2_itemWeight">
                                  <span class="FS2_itemWeightLabel">Weight</span>
                                  <span class="FS2_itemWeightValue">{{ productskus[defaultSkuNum].weight|number_format }}g</span>
                                </div>
                                <div class="FS2_itemCountryofOrigin">
                                  <span class="FS2_itemCountryofOriginLabel">Country of origin</span>
                                  <span class="FS2_itemCountryofOriginValue">{{ product.attribute('country', language) }}</span>
                                </div>
                                <div class="FS2_itemPrice_area">
                                  <ul class="FS2_itemPrice_list">
                                    <li class="FS2_special_price">
                                      <span class="FS2_priceLabel">Sale price</span>
                                      <span class="FS2_priceInCurrentCurrency FS2_priceMain">
                                        <span class="FS2_priceValue">
                                          {{ (productskus[defaultSkuNum].price * curRatio)|price_format(decimalPoint) }}
                                        </span>
                                        <span class="FS2_currencyLabel">
                                          {{ #unitBack# }}
                                        </span>
                                      </span>
                                      <span class="FS2_priceInJPY FS2_priceSub">
                                        (<span class="FS2_priceValue">
                                          {{ productskus[defaultSkuNum].price|price_format(decimalPoint) }}
                                        </span>
                                        <span class="FS2_currencyLabel">
                                          {{ baseUnitBack }}
                                        </span>)
                                      </span>
                                    </li>
                                  </ul>
                                </div>

                                <div class="FS2_additional_image_tableVariation">
                                  <table cellpadding="0" border="0" cellspacing="0" class="FS2_additional_image_tableVariation_table">
                                    <tbody>
                                      {# Select Product SKU #}
                                      {%- if isExistSku1 or isExistSku2 -%}
                                        {%- for productsku in productskus -%}
                                          {% set productSkuStock = productsku.stockUnlimited ? 10 : productsku.stock %}
                                          <tr class="FS2_additional_image_tableVariation_border FS2_additional_image_tableVariation_bg">
                                            <th scope="row">
                                              {% if isExistSku1 %}{%- if productsku.getSkuDetail1.getTransAttribute(lang_id) %}{{ productsku.getSkuDetail1.getTransAttribute(lang_id) }}{% else %}{{ productsku.getSkuDetail1.title }}{% endif -%}{% endif -%}{% if isExistSku2 %}&nbsp;×&nbsp;{%- if productsku.getSkuDetail2.getTransAttribute(lang_id) %}{{ productsku.getSkuDetail2.getTransAttribute(lang_id) }}{% else %}{{ productsku.getSkuDetail2.title }}{% endif -%}{% endif -%}
                                            </th>
                                            <td>{% if (productSkuStock < 5) %}/Only a few left{% endif %}&nbsp;</td>
                                            <td>
                                              {%- if (productSkuStock > 0) -%}
                                                <form action="{{ path('ec_client_cart_add', {'product_id': product.id}) }}" method="post">
                                                  <input type="hidden" name="product_sku_id" value="{{ productsku.id }}">
                                                  <div class="lc-selectBox" style="display: none;">
                                                    <select class="lc-selectBox__select" name="quantity[{{ productsku.id }}]">                    
                                                      <option value="1">1</option>
                                                    </select>
                                                  </div>   
                                                  <input type="image" src="{{ asset("btn_en/AdditionalImageInCartButton.gif") }}" alt="Add to Cart" class="js-lc--cartin">
                                                </form>
                                              {%- else -%}
                                                {{ #no_stock# }}
                                              {%- endif -%}
                                            </td>
                                          </tr>
                                        {%- endfor -%}
                                      {%- else -%}
                                        {% set productSkuStock = (productskus|first).stockUnlimited ? 10 : (productskus|first).stock %}
                                        <tr class="FS2_additional_image_tableVariation_border FS2_additional_image_tableVariation_bg">
                                          <th scope="row">
                                          </th>
                                          <td>{% if (productSkuStock < 5) %}/Only a few left{% endif %}&nbsp;</td>
                                          <td>
                                            <form action="{{ path('ec_client_cart_add', {'product_id': product.id}) }}" method="post">
                                              <input type="hidden" name="product_sku_id" value="{{ (productskus|first).id }}">
                                              <div class="lc-selectBox"  style="display: none;">
                                                <select class="lc-selectBox__select" name="quantity">
                                                  <option value="1">1</option>
                                                </select>
                                              </div>
                                              <input type="image" src="{{ asset("btn_en/AdditionalImageInCartButton.gif") }}" alt="Add to Cart" class="js-lc--cartin">
                                            </form>
                                          </td>
                                        </tr>
                                      {%- endif -%}  
                                    </tbody>
                                  </table>
                                </div>
                                <div class="FS2_figure"></div>

                                <div id="FS2_note_shippingToJapan">Consumption tax will be added separately if shipping to Japan.</div>

                                <div class="FS2_TweetButton_area">
                                  <ul class="button_page_Twitter">
                                    <li>
                                      <p>Please choose your preferred currency.</p>
                                      <div class="FS2_currencySelectorBlock">
                                        <p style="margin:0;">Currency:</p>
                                        <form id="currencySelectFormOriginal">
                                          <select class=" js-lc--selectCurrency js-lc--changeLangCurrency">
                                            {%- for key , item in supported_currencies -%}
                                            {%- set currency = get_entity_manager().find("EcCoreBundle:Currency", item) -%}
                                            {%- set name = currency.code -%}
                                            <option value="{{ name }}"{% if name == currentCurrency %} selected{% endif %}>{{ name }}</option>
                                            {%- endfor -%}
                                          </select>
                                        </form>
                                      </div>
                                    </li>
                                    <li>
                                      <p>After your order, we will check the packing size and send you an email about <br>
                                        the shipping fee, so please pay according to the guidance. <br>
                                        If the destination is Japan,Shipping charges will be added during the order process (
                                          <a href="http://www.heiando1919.com/fs/heiando1919/PostageSettleList.html" target="_blank">
                                            <span class="underline">See details</span>
                                          </a>).
                                      </p>
                                    </li>
                                    <li>
                                      <p>You can change quantity on the next page.</p>
                                    </li>
                                    <li>
                                      <p>Consumption tax will be added to delivery within Japan.</p>
                                    </li>
                                    <li>
                                      <p>Please feel free to contact us if you have any questions regarding this item. We will soon get in touch with you from <a href="mailto:global@heiando.com">global@heiando.com</a> (Add us to your address book to ensure our emails will be sent to your inbox.).</p>
                                    </li>
                                  </ul>
                                </div>
                                                    
                                {%- if is_authorized() -%}  
                                  <div class="FS2_WishListButton_area">         
                                    <a href="{{ path('ec_client_consumer_favorite_add', {'product_id': firstProduct.id}) }}" data-delete-href="{{ path('ec_client_consumer_favorite_delete', {'productId': firstProduct.id}) }}" data-product-id="{{ firstProduct.id }}" class="js-lc--favorite">
                                      <img src="{{ asset("btn_en/WishListButton.gif") }}" alt="Add to Wish List" border="0">
                                    </a>  
                                  </div>
                                {%- endif -%}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--  商品詳細  -->     
                        
                    </div>
                  </div>
                  <br clear="all">
                {%- endfor -%}

                {# page information #}
                  <p class="pager"></p>
                
                
                
                <div class="user_content FS2_lower_comment">
                  <div id="ex2_banner">

                    <!-- メイン -->
                    <div id="ex2_b_main">
                     <img src="../images/page/banner/banner01.jpg" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
                     <div class="ex2_b_main_tl">
                      <p class="garamond">Can't decide what to buy?<br>Here are our recommendations.
                      </p>
                     </div>
                    </div>
                   
                    <!-- 価格・デコ -->
                    <div id="ex2_b_traditional" class="ex2_b_sub">
                     <div class="ex2_b_sub_t">
                      <p>UNIQUE JAPANESE DECOR
                      </p>
                     </div>
                     <div class="ex2_b_sub_n">
                      <p>Prices below are in approximation. Please check them on item pages for current rate pricing.
                      </p>
                     </div>
                     <ul class="ex2_b_sub_i">
                      <li>
                      <a href="/gaku-huurai" target="_top">
                       <p class="name_l">Wall Art with Gods of Wind &amp; Thunder <span class="yellow">&gt;&gt;</span>
                       </p>
                       <img src="../images/page/banner/traditional/banner_traditional06.jpg" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
                      </a>
                      </li>
                      <li>
                      <a href="/kazari_syunju" target="_top">
                       <p>Decorative Plate with Flowers<span class="yellow">&gt;&gt;</span>
                       </p>
                       <img src="../images/page/banner/traditional/banner_traditional05.jpg" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
                      </a>
                      </li>
                      <li>
                      <a href="/gd1376" target="_top">
                       <p>Folding Screen with Cranes<span class="yellow">&gt;&gt;</span>
                       </p>
                       <img src="../images/page/banner/traditional/banner_traditional07.jpg" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
                      </a>
                      </li>
                     </ul>
                    </div>
                   
                    <!-- モチーフ -->
                    <div id="ex2_b_motif" class="ex2_b_sub">
                     <div class="ex2_b_sub_t">
                      <p>POPULAR DESIGNS
                      </p>
                     </div>
                     <ul class="ex2_b_sub_i">
                      <li>
                      <a href="/kazari_syunju" target="_top">
                       <p class="name_l">Decorative Plate with Cherry Blossoms <span class="yellow">&gt;&gt;</span>
                       </p>
                       <img src="../images/page/banner/motif/banner_motif10.jpg" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
                      </a>
                      </li>
                      <li>
                      <a href="/kobako" target="_top">
                       <p>"National Treasure" Box with Chrysanthemums <span class="yellow">&gt;&gt;</span>
                       </p>
                       <img src="../images/page/banner/motif/banner_motif02.jpg" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
                      </a>
                      </li>
                      <li>
                      <a href="/nagakobako-sikisoka" target="_top">
                       <p class="name_l">Luxury Box with Japan's Flowers for 4 Seasons <span class="yellow">&gt;&gt;</span>
                       </p>
                       <img src="../images/page/banner/motif/banner_motif03.jpg" alt="YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
                      </a>
                      </li>
                     </ul>
                    </div>
                   
                    <!-- イチ押し -->
                    <div class="ex2_b_pick">
                     <div class="ex2_b_pick_t">
                      <p>TOP PICK
                      </p>
                     </div>
                     <div class="ex2_b_pick_i">
                     <a href="/marukashiki-edaume" target="_top">
                      <img src="../images/outline/ex2_index/ex2_index_cat_fav_box01.jpg" alt="Ume Dome Box | YAMADA HEIANDO Lacquerware: Hand-Crafted Imperial Luxury for Japanese Emperor">
                      <div>
                       <p>Ume Dome Box is our<br><span class="em">MOST POPULAR CLASSIC SOUVENIR</span> from Japan.
                       </p>
                       <p>It conveys the essence of Japanese aesthetics with its UME rose design, traditional flowers which symbolise good luck.<br>
                       Experienced artisans use ultrafine gold powders to hand-paint petals one by one.
                       </p>
                       <p>Available in 2 colours &amp; 2 sizes. <span class="yellow">&gt;&gt;</span>
                       </p>
                      </div>
                     </a>
                     </div>
                    </div>
                   
                  </div>
                </div>

              </div>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
<script>

      $(function () { 
       
        // 初期表示の通貨をUSDに設定
         $(window).load(function () {
           var changeFlg = window.sessionStorage.getItem('changeFlg');
           if ($('.js-lc--selectCurrency').val() != 'USD' && changeFlg != 1) {

             // change currency
             $.ajax({
               method: 'POST',
               url: '/currency/change',
               data: {
                 currency_unit: 'USD' 
               }
             }).done(function(result){
               location.reload();
             }).fail(function (jqXHR, textStatus, errorThrown) {
               console.error(textStatus + ': ' + errorThrown);
             });
           }
       });
        
        // change language and currency
        $('.js-lc--changeLangCurrency').on('change', function () {

          // change currency
          $.ajax({
            method: 'POST',
            url: '/currency/change',
            data: {
              currency_unit: $('.js-lc--selectCurrency').val()
            }
          }).done(function(result){
              window.sessionStorage.setItem('changeFlg','1');
              location.reload();
          }).fail(function (jqXHR, textStatus, errorThrown) {
              console.error(textStatus + ': ' + errorThrown);
          });

        });
      });
</script>
 
<script src="{{ asset("js/futureshop2.js") }}"></script>
<link type="text/css" href="{{ asset("css_item/ex2_item_page.css")}}" rel="stylesheet" media="all">
<link type="text/css" href="{{ asset("css_item/ex2_item_page_gaku-kh.css")}}" rel="stylesheet" media="all">
<link type="text/css" href="{{ asset("css_item/ex2_item_banner.css")}}" rel="stylesheet" media="all">

{# end Contents #}
  
  <div class="layout_footer">
  {% TemplateInclude "footer" %}
  </div>
  
</div>